.idea*
*.iml
benchmarks/.gradle/**
benchmarks/.gradle/8.5/**
benchmarks/build/**
benchmarks/.kotlin
impl/.gradle/**
impl/.gradle/8.5/**
impl/build/**
impl/.kotlin
java-samples/.gradle/**
java-samples/.gradle/8.5/**
java-samples/build/**
kotlin-samples/.gradle/*
kotlin-samples/.gradle/8.5/
kotlin-samples/.gradle/8.5/fileHashes/
kotlin-samples/build/**
multithreading/.gradle/**
multithreading/.gradle/8.5/**
multithreading/build/**
spring-samples/.gradle/**
spring-samples/.gradle/8.5/**
spring-samples/build/**